<header class="site-header">
  <nav class="container nav" aria-label="Primary navigation">
    <a class="brand" href="index.html#home" aria-label="Alt. Web Solutions home">
      <img
        src="assets/images/alt-web-solutions-icon-logo.svg"
        alt="Alt. Web Solutions"
        width="81"
        height="50"
      >
    </a>
    <ul class="nav-list">
      <li><a href="index.html#home" data-nav-link="home">Home</a></li>
      <li><a href="index.html#services" data-nav-link="services">Services</a></li>
      <li><a href="index.html#work" data-nav-link="work">Our Work</a></li>
      <li><a href="index.html#about" data-nav-link="about">About</a></li>
      <li><a href="index.html#faq" data-nav-link="faq">FAQ</a></li>
      <li><a class="button" href="index.html#contact" data-nav-link="contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
